#imgContainer{
    position: relative;
    width: 100%;
}

#image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    overflow: hidden;
}

#imgContainer:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
